<section class="download-preview">
    <div class="container" ng-hide="watermarkCtrl.error || watermarkCtrl.load.loading">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="book-title">{{ downloadCtrl.epub.title }}</h1>
                    <a class="book-image" href="/epubreader/{{ downloadCtrl.epubID }}" target="_blank"
                         ng-style="{'background-image': 'url(' + (downloadCtrl.epub.image || '../images/no-image.png') +')'}">
                        <div class="preview-image">
                            <span class="icon fa fa-eye fa-3x"></span>
                        </div>
                    </a>
                <div class="download-buttons">
                    <a class="btn btn-primary download-btn"
                       href="/epub/{{ downloadCtrl.epubID }}/download/{{ downloadCtrl.epub.title + '.epub' }}">
                        <span class="fa fa-download"></span> Download
                    </a>
                    <a class="btn btn-primary"
                       href="#/extractwatermark/{{ downloadCtrl.epubID }}"> Extract watermark</a>
                </div>
            </div>
        </div>
    </div>
    <octopus-loading load="downloadCtrl.load" ng-show="downloadCtrl.load.loading" class="ng-hide"></octopus-loading>
    <octopus-error error="downloadCtrl.error" ng-hide="!downloadCtrl.error" class="ng-hide"></octopus-error>
</section>