<section class="epub-details">
    <div class="container" ng-hide="epubCtrl.error || epubCtrl.load.loading">
        <div class="row">
            <div class="col-md-4">
                <a class="book-image" href="/epubreader/{{ epubCtrl.epub.id }}" target="_blank"
                   ng-style="{'background-image': 'url(' + (epubCtrl.epub.image || '../images/no-image.png') +')'}">
                    <div class="preview-image">
                        <span class="icon fa fa-eye fa-3x"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-8">
                <h1>{{epubCtrl.epub.title || 'N/A'}}</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p class="book-metadata">
                            Author : <span class="metadata-value-author">{{epubCtrl.epub.author || 'N/A'}}</span>
                        </p>
                        <p class="book-metadata">
                            Subject : <span class="metadata-value">{{epubCtrl.epub.subject || 'N/A'}}</span>
                        </p>
                        <p class="book-metadata">
                            Date : <span class="metadata-value">{{(epubCtrl.epub.date | date:'dd/MM/yyyy') || 'N/A'}}</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="book-metadata">
                            Language : <span class="metadata-value">{{epubCtrl.epub.language || 'N/A'}}</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="book-metadata">
                            Description : <span class="metadata-value" ng-bind-html="epubCtrl.epub.description || 'N/A'"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <a class="btn btn-primary pull-right" href="#/extractwatermark/{{ epubCtrl.epub.id }}">Extract Watermark</a>
                <a class="btn btn-primary pull-right" href="#/watermark/{{ epubCtrl.epub.id }}">Embed Watermark</a>
            </div>
        </div>
    </div>
    <octopus-loading load="epubCtrl.load" ng-show="epubCtrl.load.loading" class="ng-hide"></octopus-loading>
    <octopus-error error="epubCtrl.error" ng-hide="!epubCtrl.error" class="ng-hide"></octopus-error>
</section>

