<section class="epub-details">
    <div class="container" ng-hide="epubCtrl.error">
        <div class="row">
            <div class="col-md-4">
                <div class="book-image" ng-style="{'background-image': 'url(' + (epubCtrl.epub.image || '../images/no-image.png') +')'}">

                </div>
            </div>
            <div class="col-md-8">
                <h1>Title : {{epubCtrl.epub.title || 'N/A'}}</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p>Author : {{epubCtrl.epub.author || 'N/A'}}</p>
                        <p>Subject : {{epubCtrl.epub.subject || 'N/A'}} </p>
                        <p>Date : {{(epubCtrl.epub.date | date:'dd/MM/yyyy') || 'N/A'}}</p>
                    </div>
                    <div class="col-md-6">
                        <p>Language : {{epubCtrl.epub.language || 'N/A'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Description : <span ng-bind-html="epubCtrl.epub.description || 'N/A'"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <a class="btn btn-primary" href="#/extractwatermark/{{ epubCtrl.epub.id }}">Extract Watermark</a>
                <a class="btn btn-primary" href="#/watermark/{{ epubCtrl.epub.id }}">Embed Watermark</a>
            </div>
        </div>
    </div>
    <octopus-loading load="epubCtrl.load" ng-show="epubCtrl.load.loading"></octopus-loading>
    <octopus-error error="epubCtrl.error" ng-hide="!epubCtrl.error"></octopus-error>
</section>

