<section class="epub-details">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="book-image" ng-style="{'background-image': 'url(' + epubCtrl.epub.image +')'}">

                </div>
            </div>
            <div class="col-md-8">
                <h1>Title : {{epubCtrl.epub.title || 'N/A'}}</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p>Author : {{epubCtrl.epub.author || 'N/A'}}</p>
                        <p>Subject : {{epubCtrl.epub.subject || 'N/A'}} </p>
                        <p>Date : {{epubCtrl.epub.date || 'N/A'}}</p>
                    </div>
                    <div class="col-md-6">
                        <p>Language : {{epubCtrl.epub.language || 'N/A'}}</p>
                    </div>
                </div>
                <p>
                    Description : {{epubCtrl.epub.description || 'N/A'}}
                </p>
                <button class="btn btn-primary">Extract Watermark</button>
                <button class="btn btn-primary">Embed Watermark</button>
            </div>
        </div>
    </div>
</section>