<div class="octopus-home jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="jumbotron-title"> Octopus v0.0.1 beta</h1>
                <p class="jumbotron-text lead">A Web API for watermarking EPUB documents.</p>
                <a class="btn btn-primary" href="#/upload"> Try it Now  <span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
            <div class="col-md-6">
                <div class="jumbotron-image">
                </div>
            </div>
        </div>
    </div>
</div>