<div class="octopus-zone epub-upload">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-primary btn-lg btn-upload" type="file" ngf-select="epubUpload.uploadEpub($file, $invalidFiles)"
                        accept="*" ngf-max-height="1000" ngf-max-size="10MB">
                    Upload Epub
                </button>
            </div>
        </div>
    </div>
</div>

<octopus-error error="epubUpload.error" ng-hide="!epubUpload.error"></octopus-error>