
<div class="epub-upload">
    <div class="container" ng-hide="epubUpload.error">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-primary btn-lg btn-upload" type="file" ngf-select="epubUpload.uploadEpub($file, $invalidFiles)"
                        accept="application/epub+zip" ngf-max-height="1000" ngf-max-size="10MB">
                    Upload Epub
                </button>
            </div>
        </div>
    </div>
    <octopus-loading load="epubUpload.load" ng-show="epubUpload.load.loading"></octopus-loading>
    <octopus-error error="epubUpload.error" ng-hide="!epubUpload.error"></octopus-error>
</div>