<section class="watermark-view">
    <div class="container" ng-hide="watermarkCtrl.error || watermarkCtrl.load.loading">
        <form name="watermarkForm" ng-submit="watermarkCtrl.embedWatermark()" novalidate>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label> Css Files </label>
                        <octopus-select name="selectCss" selected="watermarkCtrl.selectedCss" required>
                            <div ng-scrollable class="select-scroll">
                                <octopus-option ng-repeat="cssFile in watermarkCtrl.metadata.cssFiles" value="cssFile">
                                    <div class="octopus-option-icon" style="background-image: url(../images/cssfile.png);">

                                    </div>
                                    <p class="octopus-option-label">{{ cssFile.id }}</p>
                                </octopus-option>
                            </div>
                        </octopus-select>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group"
                         ng-class="{'has-error' : watermarkForm.cssWatermark.$dirty && watermarkForm.cssWatermark.$invalid }">
                        <label for="css-watermark">Watermark</label>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">0x</span>
                            <input type='text' name="cssWatermark" id="css-watermark" class="form-control css-watermark"
                                   ng-model="watermarkCtrl.selectedCss.watermark" pattern="^([a-fA-F\d]+)$" maxlength="32"
                                   ng-disabled="watermarkCtrl.selectedCss == null" ng-required="watermarkCtrl.requireWatermark()"
                                   placeholder="Hexadecimal Number">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="compress" id="compress" ng-model="watermarkCtrl.options.compress"> Compress CSS files
                            </label>
                        </div>

                        <div class="help-block" ng-messages="watermarkForm.cssWatermark.$error">
                            <p ng-message="pattern">The watermark must be a decimal or an hexadecimal number.</p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-8">

                    <div class="form-group">
                        <label>Image Files</label>
                        <octopus-select selected="watermarkCtrl.selectedImages" multiple>
                            <div ng-scrollable class="select-scroll">
                                <octopus-option ng-repeat="imageFile in watermarkCtrl.metadata.imageFiles" value="imageFile">
                                    <div class="octopus-option-icon"
                                         ng-style="{'background-image': 'url(/epub/' + watermarkCtrl.epubID + '/item/' + imageFile.id +')'}">

                                    </div>
                                    <p class="octopus-option-label">{{ imageFile.id }}</p>
                                </octopus-option>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <octopus-select-all select-all-name="all-images"
                                                        select-all-id="all-images"
                                                        select-all-model="watermarkCtrl.selectAllImages">
                                    </octopus-select-all>
                                    Select All
                                </label>
                            </div>
                        </octopus-select>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="image-watermark">Watermark</label>
                                <textarea name="image-watermark" ng-disabled="(watermarkCtrl.selectedImages.length == 0)"
                                          id="image-watermark" class="image-watermark form-control"
                                          ng-model="watermarkCtrl.imageWatermark">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label>Strength</label>
                                <rzslider rz-slider-model="watermarkCtrl.options.alpha"
                                          rz-slider-options="watermarkCtrl.slider.options"></rzslider>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label> Qr Code</label>
                            <qr-code qr-code-data="watermarkCtrl.imageWatermark"
                                     refresh-time="1000">

                            </qr-code>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">

                    <div class="form-group">
                        <label>XHTML Files</label>
                        <octopus-select selected="watermarkCtrl.selectedXhtml" multiple>
                            <div ng-scrollable class="select-scroll">
                                <octopus-option ng-repeat="xhtmlFile in watermarkCtrl.metadata.xhtmlFiles" value="xhtmlFile">
                                    <div class="octopus-option-icon" style="background-image: url(../images/htmlfile.png);">

                                    </div>
                                    <p class="octopus-option-label">{{ xhtmlFile.id }}</p>
                                </octopus-option>

                            </div>

                            <div class="checkbox">
                                <label>
                                    <octopus-select-all select-all-name="all-xhtml"
                                                        select-all-id="all-xhtml"
                                                        select-all-model="watermarkCtrl.selectAllXhtml">
                                    </octopus-select-all>
                                    Select All
                                </label>
                            </div>
                        </octopus-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="xhtml-watermark">Watermark</label>
                            <textarea name="xhtml-watermark" id="xhtml-watermark" class="form-control xhtml-watermark"
                                      ng-disabled="(watermarkCtrl.selectedXhtml.length == 0)"
                                      ng-model="watermarkCtrl.xhtmlWatermark">
                            </textarea>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label> Qr Code</label>
                            <qr-code qr-code-data="watermarkCtrl.xhtmlWatermark"
                                     refresh-time="1000">

                            </qr-code>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="validate-watermark">
                        <button type="submit" class="btn btn-primary" ng-disabled="watermarkForm.$invalid">Watermark</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <octopus-loading load="watermarkCtrl.load" ng-show="watermarkCtrl.load.loading" class="ng-hide"></octopus-loading>
    <octopus-error error="watermarkCtrl.error" ng-hide="!watermarkCtrl.error" class="ng-hide"></octopus-error>
</section>
