
.download-preview, .preview-epub {
    position: relative;
    height: 100vh;
    margin-top: 20px;
}

.download-preview h1.book-title {
    text-align: center;
    margin-bottom: 20px;
}

.download-preview a.book-image {
    display: block;
    width: 270px;
    height: 360px;
}


.download-buttons {
    margin-top: 20px;
    text-align: center;
}

.download-btn {
    margin-right: 20px;
}
.preview-btn {
    margin-left: 20px;
}