.epub-details {
    position: relative;
    height: 100vh;
    padding-top: 50px;
}

.epub-details .book-image {
    width: 300px;
    height: 400px;
}

.book-metadata {
    font-weight: 700;
}

.metadata-value {
    font-weight: normal;
}

.metadata-value-author {
    color: #f16529;
}