.epub-details {
    display: flex;
    align-items: center;
    height: 100%;
}

.epub-details .book-image {
    width: 300px;
    height: 400px;
    background: center, no-repeat;
    background-size: cover;

    border: 1px solid lightgray;
}