octopus-loading {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    background-color: #FFF;
}

.octopus-progress, .octopus-loading-message {
    text-align: center;
    margin-top: 0;
    color: #4169E1;
    font-weight: bold;
}

.octopus-loading-message {
    margin-top: 10px;
}

