.watermark-view, .extract-watermark-view {
    position: relative;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 30px;
}

octopus-select .select-scroll {

    width: 100%;
    height: 300px;
    border: 1px lightgray solid;
}

textarea.xhtml-watermark, textarea.image-watermark {
    height: 150px;
}

.validate-watermark {
    display: block;

    width: 100%;
    margin: 20px auto;
    padding: 5px;

    text-align: center;
}

.extract-validation {
    text-align: center;
}