<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 loader-container">
            <div class="arc-scale">
                <div class="loader">
                    <div class="arc">

                    </div>
                </div>
                <div class="octopus-progress" ng-show="load.showProgress">
                    {{ load.progress }} %
                </div>
                <div class="octopus-loading-message" ng-show="load.showMessage">
                    {{ load.message }}
                </div>
            </div>
        </div>
    </div>
</div>